SQLAlchemy==0.8.0b2
Scrapy==0.22
Twisted==12.3.0
lxml==3.1beta1
psycopg2==2.5.2
pyOpenSSL==0.13
requests==1.1.0
w3lib==1.2
zope.interface==4.0.3

Django==1.6.2
argparse==1.2.1
dj-database-url==0.2.2
dj-static==0.0.5
django-toolbelt==0.0.1
gunicorn==18.0
pystache==0.5.3
static==1.0.2
wsgiref==0.1.2
